@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
:root {
  /* Colores */
  --dark: #14152B;
  --cards: #2E4052;
  --regular: #191B3F;
  --light: #298BFE;
  --alter: #2D3052;
  --red: #F95738;
  --yellow: #FFC857;
  --tinto: #412234;
  --green: #3BC14A;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  height: 100vh;
}
body {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(180deg, rgba(46, 64, 82, 0.82) 0%, #6A836C 100%);
  background-size: cover;
  background-attachment: fixed;
}
h2 {
  color: white;
  font-size: 4.2rem;
  font-weight: 400;
  text-align: center;
}
h3 {
  font-size: 3.0rem;
  font-weight: 400;
  margin: 0;
}
h4 {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0;
}
p {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0;
}


.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* HEADER  */
.header {
  display: flex;
  justify-content: center;
}
.header .logo {
  width: 80px;
  margin: 3px auto;
}

/* MAIN */
.main {
  width: 95%;
  height: 100%;
  display: grid;
  grid-template: 1fr / 22% 78%;
  grid-template-areas: "lateral tabs";
  justify-content: center;
  align-items: stretch;
  position: relative;
}
.main > #undefined-parent {
  grid-area: "tabs";
  position: relative;
}
/* LATERAL SECTION STYLE */
/* LOS ESTILOS DE CARD-1 ESTAN MÃS ABAJO */
.lateral-section {
  margin-top: 50px;
  border-radius: 10px;
  grid-area: "lateral";
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(2, 1fr);
  grid-template-areas:
    "buttons buttons"
    "state state"
    "state state"
    "bat time";
}
.lateral-section > div {
  max-height: 252px;
  margin: 2px;
}
button {
  font-family: 'Lato', sans-serif;
}
.start-button {
  background-color: var(--green);
  font-size: 15px;
  border: 0px;
  font-weight: bold;
  border-radius: 50%;
  color: black;
  box-shadow: 0px 4px 0px #237B2D;
  width: 80px;
  height: 80px;
}
.stop-button {
  background-color: var(--red);
  border: 0px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 50%;
  color: black;
  box-shadow: 0px 4px 0px #9A3724;
  width: 80px;
  height: 80px;
}
.stop-button:active {
  background-color: #9A3724;
}
.start-button:active {
  background-color: #237B2D;
}
.report-button {
  color: var(--dark);
  background-color: #647299;
  border-radius: 15px;
  border: 0px;
  width: 50%;
}
.report-button:active {
  background-color: #181F32;
}
.buttons {
  background-color: var(--dark);
  border-radius: 24px;
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.start-stop-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.estados {
  background-color: var(--cards);
  border-radius: 24px;
  color: white;
  padding: 10px 50px;
  margin: 2px;
  grid-area: state;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
  text-align: center;
}
.estado {
  display: flex;
  font-size: 1.5rem;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px 0;
}
.estado h4 {
  font-size: 1.5rem;
  margin: 0;
}
.estado > div {
  background-color: var(--green);
  border-radius: 50%;
  width: 22px;
  height: 22px;
  margin-right: 25px;
}
/* .fecha {
  grid-area: bat;
} */

/* TABS SECTION  */

.main-tabs {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 25%;
  height: 40px;
  left: -285px;
}

/* ESTILO DE LOS BOTONES TABS y SUBTABS*/
.custom-tab {
  color: white;
  border: 1px solid #647299 !important;
  background-color: #181F32 !important;
  border-radius: 15px;
  text-align: center;
  margin-left: 2px;
  font-size: 1.8rem;
  padding: 8px 2px !important;
  box-shadow: 0px 3px 0px #647299;
}
.custom-tab--selected {
  color: white !important;
  background-color: #647299 !important;
  border-radius: 15px;
  border: 1px solid #181F32 !important;
  font-size: 1.8rem;
  text-align: center;
  padding: 8px 2px !important;
  box-shadow: 0px 3px 0px #181F32;
}
.custom-subtab {
  color: white;
  border: 1px solid white !important;
  background-color: var(--dark) !important;
  border-radius: 15px;
  text-align: center;
  margin-left: 2px;
  font-size: 1.0rem;
  padding: 8px 2px !important;
  height: 30px;
}
.custom-subtab--selected {
  color: var(--dark);
  background-color: white !important;
  border-radius: 15px;
  border: 1px solid var(--dark) !important;
  font-size: 1.0rem;
  text-align: center;
  padding: 8px 2px !important;
  height: 30px;
}
.tabs-subgraph {
  width: 100%;
}
/* ------------------------------------ */

/* GENERAL TAB SECTION estilo para tabs cohete y cansat */
.tab-section {
  width: 100%;
  display: flex;
  justify-content: center !important;
  flex-direction: column;
}

/* ESTILO DE LAS TARJETAS PARA MOSTRAR LOS CONTENIDOS */
.card {
  background-color: var(--cards);
  border-radius: 24px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 3px;
  margin: 2px;
}
.subcard {
  display: flex;
  justify-content: space-around;
}

/* COHETE  */
.principal-metrica-cohete {
  /* background: rgba(255, 255, 255, 0.01); */
  width: 100%;
  border-radius: 10px;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(6, 1fr);
  grid-template-areas:
    "altitud coor coor pos pos pos"
    "nada nada gra gra gra gra"
    "nada nada  gra gra gra gra"
    "vel vel gra gra gra gra";
}
.time {
  grid-area: time;
}
.co-altitud {
  grid-area: "altitud";
}
.co-coordenadas {
  grid-area: coor;
}
.co-position {
  grid-area: pos;
}
.co-velocidad {
  grid-area: vel;
}

/* SECCION CANSAT */
.principal-metrica-cansat {
  width: 100%;
  border-radius: 10px;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(6, 1fr);
  grid-template-areas:
    "altitud coor coor temp presion humedad"
    "acel acel gra gra gra gra "
    "giro giro gra gra gra gra "
    "vel vel gra gra gra gra";
}
.ca-altitud {
  grid-area: altitud;
}
.ca-coordenadas {
  grid-area: coor;
}
.values-2 h3 {
  margin: 5px 10px;
}
.temperatura {
  grid-area: temp;
}
.presion {
  grid-area: presion;
}
.humedad {
  grid-area: humedad;
}
.acelerometro {
  grid-area: acel;
}
.giroscopio {
  grid-area: giro;
}
.velocidad {
  width: 75%;
}

.vel-bat {
  grid-area: vel;
  display: flex;
  flex-direction: row;
}
.pila {
  position: relative;
  margin: 0 5px;
  width: 20%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.pila-head {
  position: absolute;
  background-color: white;
  width: 50%;
  height: 15%;
  border-radius: 5px;
}
.pila-body {
  background-color: white;
  width: 100%;
  height: 93%;
  margin: auto 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 7px;
  align-items: center;
}
.pila-fondo{
  background-color: #444857;
  width: 85%;
  height: 90%;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}
.pila-pila{
  background-color: #55F165;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
}
h5 {
  margin: auto 0;
  font-size: 1.5rem;
  text-align: center;
  position: absolute;
  z-index: 3;
}
/* ESTILOS GRAFICAS */
.card-graph {
  border-radius: 24px;
  grid-area: gra;
  margin: 2px;
  display: flex;
  justify-content: center;
}
.graph-ace-giro-container  {
  background-color: var(--cards);
  padding: 10px 10px;
  border-radius: 24px;
}
.graph-map-container  {
  background-color: var(--cards);
  padding: 10px 10px;
  border-radius: 24px;
}

.graph-cansat-container {
  background-color: var(--cards);
  padding: 10px 10px;
  border-radius: 24px;
}

/* ##Cosas que podrian ser utiles */

.nada {
  grid-area: nada;
}