@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
:root {
  /* Colores */
  --dark: #14152B;
  --cards: #2E4052;
  --regular: #191B3F;
  --light: #298BFE;
  --alter: #2D3052;
  --red: #F95738;
  --yellow: #FFC857;
  --tinto: #412234;
  --green: #3BC14A;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  background: linear-gradient(180deg, rgba(46, 64, 82, 0.82) 0%, #6A836C 100%);
  height: 100vh;
}
body {
  font-family: 'Lato', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}
.header {
  display: flex;
  justify-content: center;
}
.header .logo {
  width: 250px;
  margin: 3px auto;
}
.main-container {
  width: 100%;
  height: 100%;
}
.main {
  display: flex;
  justify-content: center;
  position: relative;
}
.main-tabs {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 25%;
  height: 40px;
}
.custom-tab {
  color: white;
  border: 1px solid #647299 !important;
  background-color: #181F32 !important;
  border-radius: 15px;
  text-align: center;
  margin-left: 2px;
  font-size: 1.8rem;
  padding: 8px 2px !important;
  box-shadow: 0px 3px 0px #647299;
}
.custom-tab--selected {
  color: white !important;
  background-color: #647299 !important;
  border-radius: 15px;
  border: 1px solid #181F32 !important;
  font-size: 1.8rem;
  text-align: center;
  padding: 8px 2px !important;
  box-shadow: 0px 3px 0px #181F32;
}
.custom-subtab {
  color: white;
  border: 1px solid white !important;
  background-color: var(--dark) !important;
  border-radius: 15px;
  text-align: center;
  margin-left: 2px;
  font-size: 1.0rem;
  padding: 8px 2px !important;
  height: 30px;
}
.custom-subtab--selected {
  color: var(--dark);
  background-color: white !important;
  border-radius: 15px;
  border: 1px solid var(--dark) !important;
  font-size: 1.0rem;
  text-align: center;
  padding: 8px 2px !important;
  height: 30px;
}
.tabs-subgraph {
  width: 100%;
}


.tab-section {
  display: flex;
  justify-content: center !important;
  flex-direction: column;
}
h2 {
  color: white;
  font-size: 4.2rem;
  font-weight: 400;
  text-align: center;
}
h3 {
  font-size: 3.0rem;
  font-weight: 400;
  margin: 0;
}
h4 {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0;
}
p {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0;
}



/* Metrica  */

.principal-metrica-cansat {
  /* background: rgba(255, 255, 255, 0.01); */
  width: 90vw;
  border-radius: 10px;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(6, 1fr);
  grid-template-areas:
    "altitud coor coor temp presion humedad"
    "acel acel acel gra gra gra "
    "giro giro giro gra gra gra "
    "bat vel vel gra gra gra";
}
.principal-metrica-cohete {
  /* background: rgba(255, 255, 255, 0.01); */
  width: 90vw;
  border-radius: 10px;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(6, 1fr);
  grid-template-areas:
    "buttons time coor coor pos pos"
    "state state nada gra gra gra "
    "state state nada  gra gra gra "
    "bat vel vel gra gra gra";
}
.card-1 {
  background-color: var(--cards);
  border-radius: 24px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 10px;
  margin: 2px;
  /* box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.08); */
}
.card-2 {
  background-color: var(--cards);
  border-radius: 24px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 10px;
  margin: 2px;
  /* box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.08); */
}
.card-3 {
  background-color: var(--cards);
  border-radius: 24px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 10px;
  margin: 2px;
  /* box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.08); */
}



.subcard-2 {
  display: flex;
  justify-content: space-around;
}
.subcard-3 {
  display: flex;
  justify-content: space-around;
}
.ca-altitud {
  grid-area: altitud;
}
.ca-coordenadas {
  grid-area: coor;
}
.values-2 h3 {
  margin: 5px 10px;
}
.temperatura {
  grid-area: temp;
}
.presion {
  grid-area: presion;
}
.humedad {
  grid-area: humedad;
}
.acelerometro {
  grid-area: acel;
}
.giroscopio {
  grid-area: giro;
}
.velocidad {
  grid-area: vel;
}
.fecha {
  grid-area: bat;
}
.card-graph {
  /* background-color: var(--cards); */
  border-radius: 24px;
  grid-area: gra;
  /* padding: 15px 15px; */
  margin: 2px;
  display: flex;
  justify-content: center;
}
.graph-ace-giro-container  {
  background-color: var(--cards);
  padding: 10px 10px;
  border-radius: 24px;
}

.graph-cansat-container {
  background-color: var(--cards);
  padding: 10px 10px;
  border-radius: 24px;
}

/* Estilos cohete */
.co-time {
  grid-area: time;
}
.co-buttons {
  background-color: var(--dark);
  grid-area: buttons;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.co-coordenadas {
  grid-area: coor;
}
.co-position {
  grid-area: pos;
}

button {
  font-family: 'Lato', sans-serif;
}
.start-button {
  background-color: var(--green);
  font-size: 15px;
  border: 0px;
  font-weight: bold;
  border-radius: 50%;
  color: black;
  box-shadow: 0px 4px 0px #237B2D;
  width: 80px;
  height: 80px;
}
.stop-button {
  background-color: var(--red);
  border: 0px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 50%;
  color: black;
  box-shadow: 0px 4px 0px #9A3724;
  width: 80px;
  height: 80px;
}
.stop-button:active {
  background-color: #9A3724;
}
.start-button:active {
  background-color: #237B2D;
}

.estados {
  background-color: var(--cards);
  border-radius: 24px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  text-align: center;
  padding: 10px;
  margin: 2px;
  grid-area: state;
}
.estado {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px 0;
}

.estado > div {
  background-color: var(--green);
  width: 5px;
  height: 5px;
}

/* ##Cosas que podrian ser utiles */
.blur-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  width: 100%;
  margin-top: 5px;
}
.blur-buttons button{
  width: 50%;
}
.nada {
  grid-area: nada;
}